@media (max-width: 768px) {
  /* Common CSS */
  .inner {
    width: 100%;
    padding-bottom: 30px;
  }
  .inner > div {
    float: none;
    width: 100%;
    text-align: center;
  }
  section.smart .inner,
  section.connected .inner {
    display: flex;
    flex-direction: column;
  }
  section.smart .inner .desc,
  section.connected .inner .desc {
    order: 1;
  }
  section.smart .inner .photo,
  section.connected .inner .photo {
    order: 2;
  }
  .desc {
    padding: 10px 10px;
  }
  .desc h1 {
    font-size: 30px;
  }
  .desc p {
    font-size: 15px;
  }
  .read-more {
    font-size: 15px;
  }
  .photo {
    padding: 10px;
  }

  /* Header */
  .logo img {
    width: 120px;
    vertical-align: middle;
  }
  header .btn-download {
    display: none;
  }
  .program {
    font-size: 12px;
  }

  /* Section : Welcome */
  .heading {
    width: 100%;
    padding: 0 10px;
  }
  .heading img {
    width: 60px
  }
  .heading h1 {
    font-size: 32px;
  }
  .heading p {
    font-size: 16px;
  }
  .download-content span {
    display: none;
  }
  .statics {
    display: none;
  }
  .next-section a {
    transform: scale(0.8) translateX(-60%);
  }

  /* Section : callaction */
  section.callaction {
    background: url(./img/download-bg-mobile.svg) no-repeat center center;
    background-color: dodgerblue;
    height: 200px;
  }
  section.callaction h1 {
    font-size: 25px;
    line-height: 1.2em;
  }
  /* Footer */
  footer {
    padding: 0 10px;
  }
  .footer-inner {
    width: 100%;
  }

  /* Site Map */
  .sitemap {
    display: block;
    border: none;
  }
  .link-title {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
    pointer-events: all;
  }
  .link-title:after {
    content: '\F282';
    font-family: bootstrap-icons;
    position: absolute;
    right: 10px;
    transition: 0.3s;
  }
  .link-title.active:after {
    transform: rotate(180deg);
  }
  .link-content {
    line-height: 2.0em; 
    display: none;
  }

  /* Copy Right */
  .copyright {
    text-align: center;
  }
  .footer-logo {
    float: none;
  }
  .policy {
    float: none;
    margin-bottom: 10px;
  }
  .policy a {
    font-size: 12px;
  }
  .language {
    float: none;
    font-size: 12px;
  }
  .language i {
    font-size: 20px;
  }
}